<div class="w-50 mx-auto">
  <h1>Message Translator</h1>
  <div>
    <h2>Create Message</h2>
    <form>
      <div class="form-group">
        <label for="message">Message</label>
        <input
          class="form-control"
          type="text"
          name="message"
          id="message"
          [(ngModel)]="message"
        />
      </div>
      <div class="form-group">
        <label for="language">Language</label>
        <select
          name="language"
          id="language"
          class="form-control"
          [(ngModel)]="language"
        >
          <option value="" selected disabled hidden>
            Please select a language
          </option>
          <option
            *ngFor="let langObj of languages"
            value="{{ langObj.language }}"
          >
            {{ langObj.language }}
          </option>
        </select>
      </div>
      <button
        [disabled]="!canTranslate()"
        type="submit"
        class="btn btn-primary mb-2"
        (click)="translateMessage()"
      >
        Translate Speech
      </button>
    </form>
  </div>

  <div *ngIf="translatedObjs.length !== 0">
    <h2 class="mt-5">Messages</h2>
    <table class="table table-striped">
      <thead>
        <td>Message</td>
        <td>Language</td>
        <td>Translation</td>
        <td>Audio File</td>
      </thead>
      <tr *ngFor="let translatedObj of translatedObjs">
        <td>{{ translatedObj.message }}</td>
        <td>{{ getLanguage(translatedObj.langCode) }}</td>
        <td>{{ translatedObj.translated }}</td>
        <td>
          <audio controls>
            <source src="{{ translatedObj.fileName }}" type="audio/mp3" />
            Your browser does not support the audio element
          </audio>
        </td>
      </tr>
    </table>
  </div>
</div>
